<tr>
    <td style="width: 10%">
        <%= user.name %>
    </td>
    <td style="width: 25%">
        <%= user.email %>
    </td>
    <td style="width: 30%">
        <%= user.address %>
    </td>
    <td style="width: 20%">
        <%= user.phone %>
    </td>
    <td style="width: 10%">
    <% if (user.isAdmin) {%>
        <b>Admin</b>
    <% } else{ %>
        <b>User</b>
    <% } %>
    </td>
    <td style="width: 10%">
        <a  class="waves-effect red btn" href="<%= '/user/'+user._id +'/delete' %>">Delete</a>
    </td>
    <td style="width: 10%">
        <a  class="waves-effect purple btn" href="<%= user.isAdmin ? '/user/' + user._id +'/userize' : '/user/' + user._id +'/adminize' %>">
        <% if (user.isAdmin) {%>
                <b>Userize</b>
            <% } else{ %>
                <b>Adminize</b>
            <% } %>
        </a>
    </td>
</tr>