<% include header %>
    <!-- Register -->
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m6 push-l3 push-m3">
                    <div class="card blue-grey darken-1 center-align">
                        <div class="card-content white-text">
                            <span class="card-title">
                            <% if (typeof user !== 'undefined' && user.name) { %>
                            <%- (user.name) %> <% } %> 's profile
                            </span>
                            <form action="/profile/modify" method="POST">
                                <div class='row'>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input name="name" id="icon_prefix" type="text" class="validate"
                                        value=<% if (typeof user !== 'undefined' && user.name) { %>
                                        "<%- (user.name) %>" <% } %>/>
                                        <label for="icon_prefix">Name</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">home</i>
                                        <input name="address" id="icon_telephone" type="text" class="validate"
                                        value=<% if (typeof user !== 'undefined' && user.address) { %>
                                        "<%- (user.address) %>" <% } %>/>
                                        <label for="icon_telephone">Address</label>
                                    </div>
                                    <div class='input-field col s6'>
                                        <i class="material-icons prefix">email</i>
                                        <input name="email" id="icon_prefix2" type="email" class="validate" 
                                        value=<% if (typeof user !== 'undefined' && user.email) { %>
                                        "<%- (user.email) %>" <% } %>/>
                                        <label for="icon_prefix2">E-mail</label>
                                    </div>
                                    <div class='input-field col s6'>
                                        <i class="material-icons prefix">phone</i>
                                        <input name="phone" id="icon_prefix2" type="tel" class="validate"
                                        value=<% if (typeof user !== 'undefined' && user.phone) { %>
                                        "<%- (user.phone) %>" <% } %>/>
                                        <label for="icon_prefix2">Phone</label>
                                    </div>
                                    <div class='input-field col s6'>
                                        <i class="material-icons prefix">vpn_key</i>
                                        <input name="password1" id="icon_prefix3" type="password" class="validate"
                                        value=<% if (typeof user !== 'undefined' && user.password) { %>
                                        "<%- (user.password) %>" <% } %>/>
                                        <label for="icon_prefix3">Password</label>
                                    </div>
                                    <div class='input-field col s6'>
                                        <i class="material-icons prefix">vpn_key</i>
                                        <input name="password2" id="icon_prefix4" type="password" class="validate"
                                        value=<% if (typeof user !== 'undefined' && user.password) { %>
                                        "<%- (user.password) %>" <% } %>/>
                                        <label for="icon_prefix4">Re-type Password</label>
                                    </div>
                                </div>

                                <hr>
                                <div class="card-action">
                                    <input type="submit" class="waves-effect waves-light btn-large" value="Save Changes" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <% include footer %>